doctype html
html
    head
        style.
            .pdf-column {
                text-align: center;
                display: inline-block;
                margin: 0;
                padding: 0;
                margin-bottom: 20px;
            }

            .pdf-list {
                margin: 0;
                padding: 0;
                list-style: none;
            }

            .pdf-list-header {
                padding: 5px;
                font-size: 14px;
                font-weight: bold;
            }
            ul li {
                background: #FFFFFF;
                padding: 3px;
            }
            ul li:nth-child(even) {
                background: #f1f1f1;
            }

        body
            block content