if (!excludeLayout)
    extends layout

block content
    h1 #{title}
    h2 #{description}
    .cols(style={"font-size": fontSize})
        each item in names ? names: []
            .pdf-column
                ul.pdf-list
                    lh.pdf-list-header= item.title
                    each record in records ? records: []
                        li= record[columns.indexOf(item.name)]