doctype html
html
    head
        style
            if !excludeCss
                include style.css

    body
    h1 #{title}
    h2 #{description}
    .cols(style={"font-size": fontSize})
        each item in names ? names: []
            .col
                ul
                    lh= item.title
                    each record in records ? records: []
                        li= record[columns.indexOf(item.name)]