doctype html
html
    head
        style
            include main.css
    body
    h1 #{title}
    h2 #{description}
    .cols(style={"font-size": fontSize})
        each column, index in names ? names: []
            .col
                ul
                    lh= names[index]
                    each item in records ? records: []
                        li= item[index]